@import "tailwindcss";

:root {
  --background: oklch(0.704 0.04 256.788);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
